html {
  scroll-behavior: smooth;
}

body {
    font-family: Muli, "Courier New", monospace;
    font-size: 16px;
    color: white;
    background-color: rgb(25, 25, 35);
    margin: 0;
    transition: 1s;
}

body.light-theme { background-color: rgb(230, 240, 255); color: black;}

#logo {
    transition: 0.5s;
}

#logo:hover {
    cursor: pointer;
    transform: translateY(-1px);
}

#navbar {
    color: white;
    background-color: rgba(5, 5, 7, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    z-index: 999;
}

#welcome {
    text-align: center;
    scroll-margin-top: 300px;
    margin: 140px 0px;
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5);
    font-size: xx-large;
}

#bottombar {
    color: white;
    font-size: small;
    background-color: rgb(5, 5, 7);
    max-height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: "Space Mono", "Courier New", monospace;
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);
}

.title.light-theme {
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.1) !important;
}

.navbutton {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

.navbutton:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color:rgb(5, 5, 7);
    cursor: pointer;
}

.navbutton:hover img {
    filter: none !important;
}

.infobox {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px rgba(0, 0, 0, 0.1) solid;
    border-radius: 10px;
    padding: 20px;
    margin: 30px 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.infobox.selected {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}

.infocard {
    background-color: rgba(100, 100, 140, 0.2);
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    min-height: 250px;
    transition: 0.5s;
}

.infocard:hover {
    transform: scale(1.01, 1.01);
}

.infocard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.infocard-container.big-container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.fancy-table {
    border-collapse: collapse;
}

.fancy-table td {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bounce-text span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
}

.animate span {
  animation: bounceIn 0.6s forwards;
  animation-timing-function: cubic-bezier(.28,.84,.42,1);
}

.socials-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.socials-container a {
    background-color: rgba(100, 100, 140, 0.4);
    padding: 20px;
    border-radius: 40px;
    width: 20px;
    height: 20px;
    transition: cubic-bezier(0,0,.27,1.31) 0.2s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.socials-container a::before {
    content: attr(data-social);
    position: absolute;
    color: white;
    text-decoration: none;
    transform: translate(-10px);
    opacity: 0;
    transition: 0.1s;
}

.socials-container a:hover::before {
    opacity: 1;
}

.socials-container a:hover {
    background-color: var(--accent-color);
    width: 100px;
    outline: 2px solid white;
}

.socials-container a svg {
    fill: white;
    float: left;
    width: 20px;
    height: 20px;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Phone Tweaks */

@media (max-width: 400px) {
    .infocard-container.big-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .infobox {
        padding: 10px;
        margin: 20px 20px;
    }

    .infocard {
        padding: 10px;
        min-height: 250px;
        text-align: center;
    }
}